/*

light blue: #4c6c8c
dark blue: #132d4b
white: #fefeff
off-white: #ebeef4
grey: #9aa3ac

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: #4c6c8c;
    color: #4c6c8c;
}

/* Text */
h1 {
    display: flex;
    justify-content: center;
    font-family: KATSUMI;
    font-size: 25px;
    font-weight: 700;
    color: #132d4b;
}

h2 {
    display: inline-flex;
    justify-content: center;
    justify-self: center;
    font-family: KATSUMI;
    font-size: 20px;
    font-weight: 700;
    color: #132d4b;
    background-color: #ebeef4;
    border-radius: 5px;
    background-blend-mode: overlay;
}

p {
    justify-content: center;
}

/* Containers */
.main {
    position: absolute;
    align-self: center;
    justify-content: center;
    background: #fefeff;
    padding: 25px;
    width: 650px;
    height: 510px;
    border-radius: 15px;
    z-index: 0;
    animation: fadeIn 0.5s ease-in forwards;
    box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.2); /* x y length */
}

.main h1 {
    margin-top: 10px;
    animation: fadeIn 1s ease-in forwards;
}

.text h2 {
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    top: 40px;
    width: 600px;
    height: auto;
    gap: 50px;
    align-self: center;
    /* border: 2px solid black; */
}

.content1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    top: 40px;
    width: 600px;
    height: auto;
    gap: 50px;
    align-self: center;
    /* border: 2px solid black; */
}

.content2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 50px;
    width: 600px;
    height: auto;
    gap: 50px;
    align-self: center;
}

.text {
    position: relative;
    display: block;
    justify-content: center;
    z-index: 1;
    animation: fadeIn 0.5s ease-in forwards;
    /* border: 2px solid black; */
}

.content .text {
    font-size: 15px;
    width: 50%;
    align-self: 50%;
    justify-content: center;
    justify-self: center;
    animation: fadeInLeft 1s ease;
    /* border: 2px solid black; */
}

.content1 .text {
    padding-left: 100px;
    font-size: 15px;
    width: 50%;
    align-self: center;
    justify-self: center;
    /* border: 2px solid black; */
}

.content2 .text {
    justify-content: center;
    font-size: 15px;
    width: 50%;
    align-self: 50%;
    /* border: 2px solid black; */
}

.back {
    position: fixed;
    background-color: #ebeef4;
    width: 622px;
    height: 482px;
    top: 136px;
    left: 132px;
    border-radius: 15px;
    border: 2px solid #4c6c8c;
    z-index: -1;
    pointer-events: none;
} 

.back1 {
    position: fixed;
    background-color: #fefeff;
    width: 270px;
    height: 240px;
    border-radius: 15px;
    border: 2px solid #4c6c8c;
    z-index: 0;
    top: 325px;
    left: 155px;
    animation: fadeInLeft 1s ease;
}

.back1:hover {
    box-shadow: -2px 2px 4px #9aa3ac;
    transition: box-shadow 0.3s;
}

.back2 {
    position: fixed;
    background-color: #fefeff;
    width: 270px;
    height: 240px;
    border-radius: 15px;
    border: 2px solid #4c6c8c;
    z-index: 0;
    top: 325px;
    left: 459px;
    animation: fadeInLeft 1s ease;
}

.back2:hover {
    box-shadow: -2px 2px 4px #9aa3ac;
    transition: box-shadow 0.3s;
}

/* Components */

button {
    position: relative;
    z-index: 2;
    background-color: #4c6c8c;
    color: #fefeff;
    transition: all 0.5s ease;
}

button:hover {
    animation: pulse 1s infinite;
}

.text button {
    width: 80%;
    height: 32px;
    left: 25px;
    border-radius: 7px;
}

/* GFX */
.line {
    position: absolute;
}

.main .line {
    background-color: #4c6c8c;
    width: 593px;
    max-width: 593px;
    height: 2px;
    top: 73px;
    left: 27px;
    z-index: 2;
    animation: drawInLR 1s ease-in forwards;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    60% {
        opacity: 1;
        transform: translateX(6px);
    }
    80% {
        transform: translateX(-2px)
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes drawInLR {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}
